
.profile{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.profile2{
    display: flex;
}

.profile__photo{
    width: 300px;
    height: 300px;
    border: 1px solid #000;
}

.profile__info{
    margin-left: 30px;
    margin-top: 35px;
    width: 100%;
}

span{
    color: #5698b7;
}

.profile__info__photos{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.profile__info__photos__img{
    width: 120px;
    height: 100px;
}

.profile__info__photos__img~
.profile__info__photos__img{
    margin-left: 10px;
}

.profile__info__stat{
    display: flex;
    text-align: center;
    margin-top: 20px;
    justify-content: space-around;
}

.profile__info__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__info__header > h3{
    color: #5698b7;
}

.content__input{
    margin-top: 20px;
    padding: 8px 10px;
    width: inherit;
    border: 1px solid #5698b7;
}

.post{
    margin-top: 30px;
    width: 100%;
    display: flex;
}

.post__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.post__datetime{
    margin-left: 15px;
    text-align: right;
    font-weight: 500;
}

.post__img{
    width: 50px;
    height: 50px;
    background: #000;
}

.post__info{
    width: 100%;
}

.post__content{
    max-width: 950px;
    height: auto;
    word-wrap: break-word;
}

.post__author{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
}

@media (min-width: 0px) and (max-width: 480px) {
    .profile2{
        display: block;
    }
    hr{
        display: none;
    }
    .statisticsItem__span, .statisticsItem__title{
        font-size: 14px;
    }
    .profile__info{
        margin-left: 0px;
        margin-top: 10px;
        width: 100%;
    }
    .profile__photo{
        width: 100px;
        height: 100px;
    }
    .profile__info__photos__img{
        width: 100px;
        height: 50px;
    }
    .post{
        display: block;
    }
}

@media (min-width: 481px) and (max-width: 720px) {
    .profile2{
        display: block;
    }
    hr{
        display: none;
    }
    .statisticsItem__span, .statisticsItem__title{
        font-size: 20px;
    }
    .profile__info{
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }
    .profile__photo{
        width: 200px;
        height: 200px;
    }
    .profile__info__photos__img{
        width: 150px;
        height: 75px;
    }
    .post{
        display: block;
    }
}


@media (min-width: 720px) and (max-width: 1024px) {
    .profile2{
        display: block;
    }
    hr{
        display: none;
    }
    .statisticsItem__span, .statisticsItem__title{
        font-size: 24px;
    }
    .profile__info{
        margin-left: 0px;
        margin-top: 10px;
        width: 100%;
    }
    .profile__photo{
        width: 200px;
        height: 200px;
    }
    .profile__info__photos__img{
        width: 200px;
        height: 100px;
    }
    .post{
        display: block;
    }
}

@media (min-width: 1336px) {
    .profile{
        max-width: 90%;
    }

    .profile__info__name{
        font-size: 44px;
    }
    .post__author{
        font-size: 26px;
    }
    .post__content{
        font-size: 22px;
    }
    .post__datetime{
        font-size: 18px;
    }
    .profile__info__photos__img{
        width: 120px;
        height: 120px;
    }
}

