.friend{
    display: flex;
}
.friend
.friend{
    margin-top: 25px;
}

.friend__img, .friend__img img{
    width: 70px;
    height: 70px;
    background: #000;
}

.friend__action{
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.friend__info{
    margin-left: 10px;
    margin-right: auto;
}
.friend__info a{
    color: #1977a2;
}

.friends{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.friend__delete, .friend__add{
    margin-left: 200px;
    border: none;
    background: #fff;
    font-size: 20px;
    font-weight: bold;
}

.friend__delete {
    color: #a21b19;
}

.friend__add{
    color: #1977a2;
}

.friend__info__header{
    font-size: 24px;
}

.friend__info__write{
    background: #fff;
    font-size: 20px;
    border: none;
}