.main__profile{
    display: flex;
}
.main__photo-user_img{
    width: 200px;
    height: 300px;
}

.main__profile-information{
    margin-left: 30px;
    margin-top: 35px;
}

span{
    color: #5698b7;
}
.main__profile-information__photos{
    margin-top: 25px;
}

.main__profile-information__photos__img{
    width: 120px;
    height: 100px;
}

.main__profile-information__photos__img~
.main__profile-information__photos__img{
    margin-left: 10px;
}

.main__profile-information__statistics{
    display: flex;
    text-align: center;
    margin-top: 20px;
}

h2~
h2{
    margin-left: 20px;
}

.main__profile-information__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__profile-information__header > h3{
    color: #5698b7;
}

.main__profile-posts__input{
    margin-top: 20px;
    padding: 8px 10px;
    width: 100%;
    border: 1px solid #5698b7;
}

.main__profile-post__user{
    display: flex;
    align-items: center;
}

.main__profile-post{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__profile-post__user__information{
    margin-left: 10px;
}